.collection--list--section {
    margin:50px;
    text-align: center;
}

.collection-intro-txt {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.collection--description {
    margin-top: 30px;
    margin-bottom: 50px;
}

.card--list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.card:hover {
    box-shadow: var(--box-shadow-main)

}

.collection--list--section h1 {
    color: #551A8B;
    font-size: 60px;
    padding-bottom: 36px;
}

.collection--list--section span {
    color: #ffa300;
}

@media screen and (max-width: 480px) {
    .collection--list--section h1 {
        font-size: 30px;
        margin: 0;
    }

    .card--list,
    .card {
        max-width: 90%;
        margin: 1px;
        margin-left: -10px;
    }

    
}