.collection--section {
    margin:50px;
    text-align: center;
}

.collection-intro-txt {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.collection--description {
    color: black;
}

.collection-intro-txt h1 {
    color: #551A8B;
}

.collection-intro-txt span {
    color: #ffa300;
}