.winwall--list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.winwall-card {
    max-height: 400px;
    max-width: 400px;
    border: 1px solid black;
    border-radius: 2%;
    margin: 0px;
    box-shadow: 0px 0px 5px gray;
    text-align: center;
    border: 1px solid #4845c7;
    box-shadow: 0px 0px 5px #ffa300;;
    padding-bottom: 10px;
    margin: 0%;
}

.winwall-card img {
    max-height: 250px;
    height: 100%;
    max-width: 250px;
    width: 100%;
    margin:20px;
    border-radius: 10%;
    /* object-fit: cover; */
}

.winwall-card--link {
    color: black;
    font-weight: bold;
    text-decoration: none;
    border: solid;
    border-color: black;
    background-color: #CA7A1B;
    padding: 8px;
    margin: 2px;
    border-radius: 2%;
}

h3{
    font-size: 20px;
    
}