.winwall-list-wrapper {
    text-align: center;
    padding-bottom: 20px;
}

.live-winwall-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.intro-text h2 {
    font-size: 20px;
}

