
.box {
	background: var(--secondary);
	position: absolute;
	width: 100%;
	color: var(--p-dark);
	@media (max-width: 1000px) {
		padding: 70px 30px;
	}
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 1000px;
	margin: 0 auto;	
	padding: 20px;
	margin-top: 50px;
	justify-items: center;
}

.column {
	display: flex;
	flex-direction: column;
	text-align: left;
	/* margin-left: 60px; */
	justify-items: center;
	cursor: pointer;
}

.row {
	display: grid;
	grid-template-columns: repeat(auto-fill,
							minmax(185px, 1fr));
	grid-gap: 50px;
	
	@media (max-width: 1000px) {
		grid-template-columns: repeat(auto-fill,
							minmax(200px, 1fr));
	}
}

.heading {
	color: var(--primary);
	text-align: center;
	margin-top: -50px;
	/* margin-right: 100px;		  */
	/* margin-bottom: 50px; */
}
.footer-link {
	color: var(--dark-font);
	margin-bottom:20px;
	font-size: 18px;
	text-decoration: none;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.footer-link:hover {
	color: var(--primary);
	font-weight: bold;
	transition: 200ms ease-in;
}


.heading {
	font-size: 24px;
	/* padding-top: 2rem; */
	font-family: var(--main-font);
	color: var(--dark-font);
	/* margin-bottom: 40px; */
	font-weight: bold;
	/* margin-right: 50px; */
}

.bottom-footer {
	text-Align: center; 
	font-weight: bold; 
	color: var(--dark-text);
}

