/* Google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&family=Satisfy&display=swap');

/* Root variables - 
global styling vriables that can be used across all styling files */

:root {
/* font styles */
  --main-font: 'Raleway', calibri, sans-serif;
  --highlight-text: 'Satisfy', cursive;

/* font-colours */

  /* to be used on primary */
  --light-font: #ffffff;
  /* to be used on secondary */
  --dark-font: #000000;

/* font-size */
  --small-font: 400;
  --standard-font: 600;
  --bolder-font: 700;

/* glow font
  glow effect for highlight text:
  assign glow font as - text-shadow: var(--glow-font); */
  --glow-font:
  0 0 7px var(--bg-light),
  0 0 10px var(--light-font),
  0 0 21px var(--light-font),
  0 0 42px var(--light-font),
  0 0 82px var(--dark-font),
  0 0 92px var(--dark-font),
  0 0 102px var(--dark-font),
  0 0 151px var(--dark-font);

  /*colours primary */
  --primary: #8246af;
  --p-light: #b474e1;
  --p-dark: #52187f;

  /*colours secondary */
  --secondary: #ffa300;
  --s-light: #ffd449;
  --s-dark: #c67400;

  --bg-light: #f0f0f0;

  /* box shadows */
  --box-shadow-main: 0px 2px 15px 2px var(--p-dark);
  --box-shadow-secondary: 0px 2px 15px 2px var(--s-dark);
}

body {
  margin: 0 auto;
  font-family: var(--main-font);
}