/* Google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&family=Satisfy&display=swap');

/* Root variables - 
global styling vriables that can be used across all styling files */

:root {
/* font styles */
  --main-font: 'Raleway', calibri, sans-serif;
  --highlight-text: 'Satisfy', cursive;

/* font-colours */

  /* to be used on primary */
  --light-font: #ffffff;
  /* to be used on secondary */
  --dark-font: #000000;

/* font-size */
  --small-font: 400;
  --standard-font: 600;
  --bolder-font: 700;

/* glow font
  glow effect for highlight text:
  assign glow font as - text-shadow: var(--glow-font); */

  --hero-highlight:
      0 0 7px var(--bg-light),
      0 0 10px var(--bg-light),
      0 0 21px var(--s-dark),
      0 0 42px var(--s-dark),
      0 0 82px var(--s-light),
      0 0 92px var(--s-light),
      0 0 102px var(--secondary),
      0 0 151px var(--secondary);

  /*colours primary */
  --primary: #8246af;
  --p-light: #b474e1;
  --p-dark: #52187f;

  /*colours secondary */
  --secondary: #ffa300;
  --s-light: #ffd449;
  --s-dark: #c67400;

  --bg-light: #f0f0f0;

  /* box shadows */
  --box-shadow-main: 0px 2px 15px 2px var(--p-dark);
  --box-shadow-secondary: 0px 2px 15px 2px var(--s-dark);
}

html body {
  margin: 0 auto;
  font-family: var(--main-font);
  font-size: 20px;
}

body div{
  margin: 0 auto;
  width: 100%;
}

button {
  background-color: var(--secondary);
  padding: 10px 25px;
  margin:10px;
  border-radius: 25px;
  border: unset;
  font-family: var(--main-font);
  cursor: pointer;
}

button:hover {
  background-color: var(--p-light);
}

.icon-button {
  background: none;
  background-color: transparent;
  border: none;
  padding: 2px;
}

.icon-button img{
  height: 3rem;
  display: flex;
  align-self: flex-end;
  background-color: transparent;

}

