/* body * {
    color:                      hsla(210, 100%, 100%, 0.88)     !important;
    background:                 hsla(210, 100%,  50%, 0.33)       !important;
    outline:    0.25rem solid hsla(210, 100%, 100%, 0.50)     !important;
}

.debug-center {
    display:            flex;
    justify-content:    center;
    align-items:        center;
} */

.navbar-items {
    display  : flex;
    align-items: center;
    font-size: 1.2rem;
}

nav,
.logo-text,
.nav-links {
    text-decoration: none;
}

.logo-img {
    width: 10rem;
    height: 10rem;
    padding: 1rem 2rem;
    /* margin-right: 2rem; */
}

.logo-text {
    margin-right: 1rem;
    width: 50%;
    font-weight: var(--bolder-font);
    font-size: 4rem;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    padding: 2rem;
    justify-content: end;
}

button {
    cursor: pointer;
}

.btn,
button.nav-links {
    background-color: var(--secondary);
    padding: 10px 25px;
    border-radius: 25px;
    width: 100px;
    border: unset;
    font-family: var(--main-font);
    cursor: pointer;
}

.btn:hover,
button.nav-links:hover {
    background-color: var(--p-light);
}

.profile-link:hover {
    cursor: not-allowed;
}

.nav-links-mobile {
    display: none;
    
}

.menu-icon {
    display: none;
}

@media screen and (min-width: 959px) {
    button.navBar {
        display: none;
    }
    
}
@media screen and (max-width: 960px) {
    .navbar-items {
        position: relative;
    }

    .nav-menu { 
            display: none;
    }  


    button.nav-links {
        text-align: center;
        padding: 1.5rem;
        width: 100%;
        display: table;
        margin: auto;
        border-radius: 4px;
        width: 50%;
        text-decoration: none;
        color: black;
        font-size: 1.5rem;
        background: none;
    }

    .nav-links-mobile {
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: 2rem auto;
        border-radius: 4px;
        text-decoration: none;
        color: black;
        font-size: 1.5rem;
        border: none;
    }

}